PyQt5
autopep8
cmake
face-recognition
face_recog_dlib_file/dlib-19.19.0-cp38-cp38-win_amd64.whl
flake8
numpy
opencv-contrib-python
opencv-python
openpyxl
pandas
pre-commit
pyqt5-tools
pytest
virtualenv
